<nav class="main-navbar navbar navbar-inverse navbar-fixed-top {{ page.route == '/' ? 'home' : '' }}" role="navigation">
    <div class="container">
        <div class="title">Arctic
            <span class="text-tundra-light-">L</span>andscape
            <span class="text-tundra-light-">C</span>onservation
            <span class="text-water-">C</span>ooperative
            <div class="social-links">
                <a href="https://www.twitter.com/arcticlcc">
                    <span class="fa fa-facebook-square"></span>
                    <span class="visible-xs-inline">Facebook</span>
                </a>
                <a href="#">
                    <span class="fa fa-rss"></span>
                    <span class="visible-xs-inline">RSS</span>
                </a>
                <a href="https://github.com/arcticlcc">
                    <span class="fa fa-github"></span>
                    <span class="visible-xs-inline">GitHub</span>
                </a>
                <a href="https://www.twitter.com/northlatitudes">
                    <span class="fa fa-twitter"></span>
                    <span class="visible-xs-inline">Twitter</span>
                </a>
            </div>
        </div>
        <div class="navbar-header text-center">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="title visible-xs-inline-block navbar-text">Arctic Landscape
                <br/>
                Conservation Cooperative</div>
            <a class="navbar-brand" href="{{ base_url == '' ? '/' : base_url }}">
                <span class="brand-wrapper">
                    <img src="{{ url('theme://images/logo_icon.png') }}" alt="Brand"/>
                </span>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% for page in pages.children.visible %}
                    {% set current_page = (page.active or page.activeChild)
                        ? 'active'
                        : '' %}
                    {% if config.themes.bootstrap.dropdown.enabled and page.children.visible.count > 0 %}
                        <li class="dropdown {{ current_page }}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <span class="fa fa-{{ page.header.icon }} fa-fw"></span>
                                {{ page.menu }}
                                <span class="caret"></span>
                                <span class="nav-link-hilite">
                                    <i class="dropdown-pointer"></i>
                                </span>
                            </a>
                            <ul {% set columns = page.children.visible.count < 3 ? page.children.visible.count : 3 %} class="dropdown-menu row list-unstyled columns-{{ columns }}" role="menu">
                                {% set current_parent = page.active
                                    ? 'active'
                                    : '' %}
                                <li class="{{ current_parent }} col-md-12">
                                    <a href="{{ page.url }}">
                                        <span class="fa fa-{{ page.header.icon }} fa-fw"></span>{{ page.menu }}
                                    </a>
                                </li>
                                <li class="divider col-sm-12"></li>
                                <li class="col-sm-12 col-lg-{{ columns * 3 }}">
                                    <ul class="row">
                                        {% for child in page.children.visible %}
                                            {% set current_child = (child.active or child.activeChild)
                                                ? 'active'
                                                : '' %}
                                            <li class="{{ current_child }} col-sm-4 col-lg-{{ 12 / columns }}">
                                                <a href="{{ child.url }}">
                                                    <strong>{{ child.menu }}</strong>
                                                </a>
                                                {% if child.children.visible.count > 0 %}
                                                    <ul class="list-unstyled">
                                                        {% for grandchild in child.children.visible %}
                                                            {% set current_child = (grandchild.active or grandchild.activeChild)
                                                                ? 'active'
                                                                : '' %}
                                                            <li class="{{ current_child }}">
                                                                <a href="{{ grandchild.url }}">{{ grandchild.menu }}</a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </li>
                                            {% if loop.index is divisible by(3) %}
                                                <li class="clearfix hidden-xs"></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li class="visible-lg-block col-lg-{{ 12 - columns * 3 - (3 - columns) }} preview">
                                    <div class="thumbnail">
                                        <img alt="" style="" src="{{ url('theme://images/logo_plain.png') }}" data-holder-rendered="true">
                                        <div class="caption">
                                            <h5>Highlighted Section</h5>
                                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                                <a href="#">Read more...</a>
                                            </p>
                                            <p></p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="{{ current_page }}">
                            <a href="{{ page.url }}">
                                <span class="fa fa-{{ page.header.icon }} fa-fw"></span>
                                {{ page.menu }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% for mitem in site.menu %}
                    <li>
                        <a href="{{ mitem.url }}">{{ mitem.text }}</a>
                    </li>
                {% endfor %}

                {% if config.plugins.login.enabled and grav.user.username %}
                    <li>
                        <i class="fa fa-lock"></i>
                        {% include 'partials/login-status.html.twig' %}</li>
                {% endif %}
                <li class="search">
                    <form action="" class="search-form navbar-form navbar-right" role="search">
                        <div class="form-group has-feedback">
                            <label for="search" class="sr-only">Search</label>
                            <input type="text" class="form-control" name="search" id="search" placeholder="search" value="{{ query }}" data-search-input="{{ base_url }}{{ config.plugins.simplesearch.route}}/query">
                            <span class="fa fa-search form-control-expand"></span>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
